header{
	background-image: url("../img/img2.jpg");
	background-size: cover;
	padding: 25vh 0vw;
	background-position: 0vh 0vw;
	margin-top: 6em;
	border-color: black;
	border: 0.01em solid;
}
 #texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 0;
    font-size: 450%;
}
h1{
	background-color: white;
	color: black;
	text-align: center;
	font-size: 40px;
	margin: 0;
	border-color: black;
	border: 0.1em solid;
}
.logo{
	position: absolute;
	top: 28em;
	right: 10%;
	left: 0.1em;
	height: 150px;
}
nav{
	position: absolute;
	top: 5em;
	right: 2em;
}
nav a{
	background-color: blue;
	font-size: 25px;
	font-family: Candara;
	margin: 0.2em;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.99);
	color: white;
	text-decoration: none;
}
nav a:hover{
	background-color: green;
	cursor: pointer;
}
.actual{
	background-color: green;
}
#fechas{
	text-align: left;
	position: absolute;
	left: 15em;
	padding: 1em;
}
#fechas h2 , p {
	margin: 0;
	padding: 0;
}
#informacion{
    text-align: left;
    position: absolute;
    display: inline-block;
    left: 15em;
    top: 27em;
}
#contacto{
	text-align: left;
    position: absolute;
    display: inline-block;
    left: 12em;
    top: 27em;
    margin-top: 2em;
}
h2{
	margin-bottom: 0;
	margin-top: 1.2em;
}
p{
	margin-left: 2em;
	margin-bottom: 1em;
}
body{
	margin: 0;
}


