#fechas{
	text-align: left;
	position: absolute;
	left: 15em;
	padding: 1em;
}
#fechas h2 , p {
	margin: 0;
	padding: 0;
}
 #texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 0;
    font-size: 450%;
}
header{
	background-image: url("../img/img2.jpg");
	background-size: cover;
	padding: 25vh 0vw;
	background-position: 0vh 0vw;
	margin-top: 6em;
	border-color: black;
	border: 0.01em solid;
}
body{
	margin: 0;
}
h1{
	background-color: white;
	color: black;
	text-align: center;
	font-size: 40px;
	margin: 0;
	border-color: black;
	border: 0.1em solid;
}
nav{
	position: absolute;
	top: 5em;
	right: 2em;
}
.logo{
	position: absolute;
	top: 28em;
	right: 10%;
	left: 0.1em;
	height: 150px;
}